<a href="https://colab.research.google.com/github/RajuMopidevi/python-programming-nus/blob/main/PP_02_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
  <a href="PP-01-GettingStarted.ipynb" target="_self">Getting Started</a> | <a href="./">Content Page</a> | <a href="PP-03-WritingPrograms.ipynb">Writing Programs</a>
</center>

# <center>VARIABLES, TYPES, COLLECTIONS<br>STRINGS AND COMMENTS</center>
<center><b>Copyright &copy 2023 by DR DANNY POO</b><br> e:dannypoo@nus.edu.sg<br> w:drdannypoo.com</center><br>

A data or variable is a container for storing data value. Every variable in Python is also known as an object and it has the following four properties:
* Name (or identifier) – defines the variable
* Type – describes the form the variable takes
* Value – the value that is stored in the variable
* ID – a number that uniquely identifies the variable


We discuss:
* Variables
* Types
* Collections

# 1. Variables
Python does not require variables to be declared before they can be used. A variable (or data) is defined once a value is assigned to it.

In [ ]:
# 3 variables: a, b, c
a = 1
b = 20.5
c = "Tom"
print(a, b, c)

1 20.5 Tom

## 1.1 Characteristics of Variables

A variable can have a short name (such as a, b, c) or a descriptive name (such as numberOfBalls, car, sheep, train, is_Found, total_cost).

The naming of variables in Python are governed by the following rules:
* A variable name must start with a letter or the underscore character.
* A variable name cannot start with a number.
* A variable name can only contain alpha-numeric characters and underscores (such as A-z, 0-9, and _).
* Variable names are case-sensitive (e.g. sheep, Sheep, ShEEp, SHEEP are different variables).

Besides, a variable name cannot take on any of the 35 reserved words in the Python language. These words include:

<b> and, as, assert, break, class, continue, def, del, elif, else, except, exec, False, finally, for, from, global, if, import, in, is, lambda, nonlocal, None, not, or, pass, print, raise, return, True, try, while, with, yield</b> <br>

**Error:** <br>
"class" variable will cause a syntax error<br>
```python
numberOfStudents = 8
class = numberOfStudents
```
The output is:<br>
<b>SyntaxError: invalid syntax</b>

In [ ]:
# The following is fine
numberOfStudents = 8
Class = numberOfStudents
print("Class size = ", Class)

Class size =  8

# 2. Types
Variables store values and the values can be of different types that can do different things.
Python has built-in default data types as summarized in the following table:

| Type Category  | Built-in Default Type        |
|----------------|------------------------------|
| ``Text``       | str                          |
| ``Numeric``    | int, float, complex          |
| ``Sequence``   | list, tuple, range           |
| ``Mapping``    | dict                         |
| ``Set``        | set, frozenset               |
| ``Boolean``    | bool                         |
| ``Binary``     | bytes, bytearray, memoryview |

In [ ]:
# type(x) function shows the data type of "x" variable
x = "Python Programming"
print(x, type(x))
x = 8
print(x, type(x))

Python Programming <class 'str'>
8 <class 'int'>

In [ ]:
# Data of one type can be converted to another with the int(), float(), and complex() methods
a = 5              # int
b = 5.5            # float
c = 5j             # complex
i = float(a)       # convert from int to float
j = int(b)         # convert from float to int
k = complex(a)     # convert from int to complex
print(i, type(i))
print(j, type(j))
print(k, type(k))

5.0 <class 'float'>
5 <class 'int'>
(5+0j) <class 'complex'>

# 3. Collections
Collections are containers for storing collections of data. There are four data collection types:
<br>1.	List – A collection that is ordered and mutable (or changeable). Duplicate members are allowed in the collection.
<br>2.	Tuple – A collection that is ordered and immutable (or non-changeable). Duplicate members are allowed in the collection.
<br>3.	Set – A collection that is unordered and unindexed. No duplicate members are allowed in the collection.
<br>4.	Dictionary – A collection that is unordered, mutable and indexed. No duplicate members are allowed in the collection.

 ![image.png](attachment:image.png)

## 3.1 List
Lists and tuples are of the sequence category of data types.
Sequences are iterative objects in arbitrary length containers.
Lists contain heterogeneous and mutable objects, and are defined with square brackets.
Objects can therefore be added or deleted from a list.

In [ ]:
# To create list, include objects within square brackets, separated by commas
x = ["Ford", "Honda", "BMW"]

In [ ]:
# Lists can contain a mix of multiple data types
x = ["Ford", 50000, True]

In [ ]:
# The len() function produces the length of a list
x = ["Ford", 50000, True]
print(len(x))

3

In [ ]:
# Python does not have built-in support for Arrays, but Lists can be used instead to behave like arrays.
x = ["Ford", 50000, True]
print(x[0])    # from the start of list
print(x[-1])   # from the end of list

Ford
True

In [ ]:
# We can select items from this list (Note that a list starts from index 0)
nameList = ["Albert", "Bob", "Charlie", "Derek", "Elvis", "Fanny", "George"]

print(nameList[0])     # first item of the list
print(nameList[-1])    # last item of the list
print(nameList[2:])    # items from index 2 to end of list
print(nameList[:2])    # items from index 0 (included) to index 2 (excluded)
print(nameList[3:5])   # items from index 3 (included) to index 5 (excluded)
print(nameList[-5:-3]) # items from index -5 (included) to index -3 (excluded)

Albert
George
['Charlie', 'Derek', 'Elvis', 'Fanny', 'George']
['Albert', 'Bob']
['Derek', 'Elvis']
['Charlie', 'Derek']

In [ ]:
# To change the value of a specific item, refer to the index number:
nameList    = ["Albert", "Bob", "Charlie", "Derek", "Elvis", "Fanny", "George"]
nameList[4] = "Edmond"
print(nameList)

['Albert', 'Bob', 'Charlie', 'Derek', 'Edmond', 'Fanny', 'George']

### Concatenating lists

In [ ]:
# To concatenate two lists
nameList = ["Albert", "Bob", "Charlie", "Derek", "Elvis", "Fanny", "George"]
age = [30, 20, 45, 12, 56, 29]
newList = nameList + age
print(newList)

['Albert', 'Bob', 'Charlie', 'Derek', 'Elvis', 'Fanny', 'George', 30, 20, 45, 12, 56, 29]

In [ ]:
# To multiply a list
print(nameList * 2)

['Albert', 'Bob', 'Charlie', 'Derek', 'Elvis', 'Fanny', 'George', 'Albert', 'Bob', 'Charlie', 'Derek', 'Elvis', 'Fanny', 'George']

In [ ]:
# To slice a list by extracting some items from a list to another list
slice = newList[4:8] # extract from index 4 for 4 items
print(slice)

['Elvis', 'Fanny', 'George', 30]

### Deleting items from lists

In [ ]:
# Delete items from a list
del newList[5:7]   # delete 2 items
print(newList)

['Albert', 'Bob', 'Charlie', 'Derek', 'Elvis', 30, 20, 45, 12, 56, 29]

### Creating range of numbers in lists

In [ ]:
# Use the range() function to create a list of numbers
listOfNumbers = list(range(1, 10)) # range of numbers from 1 to 9
print(listOfNumbers)
listOfNumbers = list(range(10))    # range of numbers from 0 to 9
print(listOfNumbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Create a range of numbers with a step value
listOfNumbers = list(range(1, 10, 2)) # range of numbers from 1 to 9 with step 2
print(listOfNumbers)

[1, 3, 5, 7, 9]

### Sublists in lists

In [ ]:
# A list can contain sublists
studentsGrades = [("Alice", 80), ("Betty", 50), ("Cathy", 76), ("Debbie", 92)]
print(studentsGrades)

# Select the fourth element in the studentsGrades list
print(studentsGrades[3])

# Print the first element of the third element of the studentsGrades list
print(studentsGrades[2][0])

[('Alice', 80), ('Betty', 50), ('Cathy', 76), ('Debbie', 92)]
('Debbie', 92)
Cathy

### Appending string to list

In [ ]:
# Append a string to the end of a list
aList = []
aList.append('String 1')
aList.append('String 2')
print(aList)

['String 1', 'String 2']

## 3.2 Tuple
Tuples contain sequences of heterogeneous and immutable objects, and are identified by parenthesis.
By “immutable”, it means once a tuple is created, it cannot be altered i.e. an element cannot replace another element in the tuple.

In [ ]:
# To create a tuple
students = ("Alice", "Betty", "Cathy", "Debbie")

# Can also create a tuple using the tuple() method
students = tuple(("Alice", "Betty", "Cathy", "Debbie"))
print(students)

('Alice', 'Betty', 'Cathy', 'Debbie')

In [ ]:
# To create a tuple with only one item, it is necessary to add a comma after the item
carTuple = ("Mazda",)
carString = ("Mazda")
print(carTuple, type(carTuple), carString, type(carString))

('Mazda',) <class 'tuple'> Mazda <class 'str'>

In [ ]:
# The len() function
students = ("Alice", "Betty", "Cathy", "Debbie")
print(len(students))

4

### Extracting elements from tuples

In [ ]:
# To extract the second element of students tuple
print(students[1])

# To extract the last element of students tuple
print(students[-1])

# To extract more than one element of students tuple
print(students[1:4])

# To extract elements from the end of the tuple
students = ("Alice", "Betty", "Cathy", "Debbie")
print(students[-4:-1]) # starting from end of tuple, returns items from index -4 (included)
                       # to index -1 (excluded). Last item has index -1.

Betty
Debbie
('Betty', 'Cathy', 'Debbie')
('Alice', 'Betty', 'Cathy')

### The "in" operator

In [ ]:
# To determine if an item is present in a tuple, use the “in” operator
print('Betty' in students)
print('betty' in students)   # case sensitive
print('Eva' in students)

True
False
False

### Immutability in tuple

**Error:** <br>
```python
students = ("Alice", "Betty", "Cathy", "Debbie")<br>
```
Attempt to replace an element in a tuple with another element will generate an error
```python
students[1] = "Eva"
```
The output is:<br>
<b>TypeError: 'tuple' object does not support item assignment</b>

In [ ]:
# To workaround this restriction, convert the tuple into a list, change the list, and convert the list back into a tuple
students = ("Alice", "Betty", "Cathy", "Debbie")
studentList = list(students)
studentList[1] = "Eva"
students = tuple(studentList)
print(students)

('Alice', 'Eva', 'Cathy', 'Debbie')

### Deleting tuples

**Error:**

To delete a tuple, use the “del” keyword
```python
del carTuple
print(carTuple) # this will cause an error
```
The output is:<br>
<b>NameError: name 'carTuple' is not defined</b>

### Concatenating tuples

In [ ]:
# To join two tuples
cars = ("Mazda", "Honda")
buses = ("Man", "Volvo")
automobile = cars + buses
print(automobile)

('Mazda', 'Honda', 'Man', 'Volvo')

### Multi-type elements in tuples

In [ ]:
# Tuples can contain more than one type of object
customer = ("John", 39, 9237890, 23.3, "Blacky")
print(customer)

('John', 39, 9237890, 23.3, 'Blacky')

## 3.3 Set
Sets are unordered and immutable object containers. They are unindexed and do not contain duplicate items They support typical set operations such as union, intersection and difference. Sets are written with braces.

In [ ]:
# To create a “students” set
students = {"Alice", "Betty", "Cathy", "Debbie"}

# Alternatively, use the set() method to create a set
students = set({"Alice", "Betty", "Cathy", "Debbie"})
print(students, type(students))

# Can also create a set by first creating an empty set and then populating it one item at a time using the add() method
students = set()
students.add("Alice")
students.add("Betty")
print(students)

{'Debbie', 'Alice', 'Cathy', 'Betty'} <class 'set'>
{'Alice', 'Betty'}

In [ ]:
# The len() function produces the length of a set
students = {"Alice", "Betty", "Cathy", "Debbie"}
print(len(students))

4

### Indexing elements in sets

**Error:**

Indexing is not supported in sets

```python
students[3] # this will raise an error
```
The output is:<br>
<b>TypeError: 'set' object is not subscriptable</b>

### The "in" operator

In [ ]:
# To determine if an item is in a set
print("Alice" in students)
print("Eva" in students)
print(2 in students)

True
False
False

### Adding items into sets

In [ ]:
# To add more than one item to a set, use the update() method
students = {"Alice", "Betty"}
students.update(["Cathy", "Debbie", "Eva"])
print(students)

{'Cathy', 'Betty', 'Debbie', 'Alice', 'Eva'}

### Removing items from sets

In [ ]:
# To remove an item in a set, use the remove() or discard() method
students = {"Alice", "Betty", "Cathy", "Debbie", "Eva"}
print(students)

# Remove “Eva” from set
students.remove("Eva")
print(students)

# Use discard() method to remove “Alice” from set
students.discard("Alice")
print(students)

{'Alice', 'Cathy', 'Betty', 'Eva', 'Debbie'}
{'Alice', 'Cathy', 'Betty', 'Debbie'}
{'Cathy', 'Betty', 'Debbie'}

**Error:**

Use remove() method to remove “Alice” again from set
```python
students.remove("Alice") # error because “Alice” does not exist anymore
```
The output is:<br>
<b>KeyError: 'Alice'</b>

In [ ]:
# Use discard() method to remove “Alice” again from set
students.discard("Alice")   # does not raise an error even though “Alice” does not exist

# Another method to remove an item is pop() method.
# This method will remove the last item.
# Since sets are unordered, you may not know what item gets removed with pop().
print(students.pop())

# Let us print “students”
print(students)

Cathy
{'Betty', 'Debbie'}

In [ ]:
# To clear or empty a set, use the clear() method (Note that the set still exists, just that it is empty)
cars = {"Mazda", "Honda", "Toyota"}
cars.clear()
print(cars)

set()

**Error:**

To delete a set, use the “del” keyword
```python
cars = {"Mazda", "Honda", "Toyota"}
del cars
print(cars) # error because the set no longer exists
```
The output is:<br>
<b>NameError: name 'cars' is not defined</b>

### No duplicate members in sets

In [ ]:
# One property of set is that no duplicate members exists in a set
numbers = {5, 78, 23, 55, 40, 5, 90, 33, 10, 33, 23, 5}
print(numbers)

{33, 5, 40, 10, 78, 55, 23, 90}

## 3.4 Dictionary
Dictionaries are containers that store key-value pairs and are distinguished with braces. Items within dictionaries can change but they cannot be ordered. Neither can we extract items from a dictionary as we did with lists and tuples.

In [ ]:
# To create a “students” dictionary of names and age
students = {"Alice":30, "Betty":9, "Cathy":18, "Debbie":56}
print(students, type(students))

{'Alice': 30, 'Betty': 9, 'Cathy': 18, 'Debbie': 56} <class 'dict'>

In [ ]:
# The len() function
students = {"Alice":30, "Betty":9, "Cathy":18, "Debbie":56}
print(len(students))

4

### Indexing elements in dictionaries

In [ ]:
# Can query a dictionary for a given student
students = {"Alice":30, "Betty":9, "Cathy":18, "Debbie":56}
print(students['Betty'])

# The get() method can also be used to give the same result
print(students.get('Betty'))

9
9

### Adding elements in dictionaries

In [ ]:
# Add a new element to a dictionary
students = {"Alice":30, "Betty":9, "Cathy":18, "Debbie":56}
students['Eva'] = 26
print(students)

{'Alice': 30, 'Betty': 9, 'Cathy': 18, 'Debbie': 56, 'Eva': 26}

### Keys and Values in dictionaries

In [ ]:
# To list a dictionary keys, use the keys() method
print(students.keys())

# Alternatively, we could use the list() method to check on the keys
students = {"Alice":30, "Betty":9, "Cathy":18, "Debbie":56}
print(list(students))

# To get the values in a dictionary, use the values() method
print(students.values())

dict_keys(['Alice', 'Betty', 'Cathy', 'Debbie', 'Eva'])
['Alice', 'Betty', 'Cathy', 'Debbie']
dict_values([30, 9, 18, 56])

### The "in" operator

In [ ]:
# To determine if a given key is in the dictionary, use the “in” operator
print("Cathy" in students)
print("Monica" in students)

True
False

### Removing items from dictionaries

In [ ]:
students = {"Alice":30, "Betty":9, "Cathy":18, "Debbie":56}

# To delete a dictionary element, use the “del” keyword
del students['Debbie']
print(students)

{'Alice': 30, 'Betty': 9, 'Cathy': 18}

**Error:**

Let us delete “Monica” who does not exist
```python
del students['Monica'] # error because there is no “Monica” element
```
The output is:<br>
<b>KeyError: 'Monica'</b>

In [ ]:
students = {"Alice":30, "Betty":9, "Cathy":18, "Debbie":56}

# To delete all dictionary elements, use the clear() method
students.clear()
print(students)

{}

**Error:**

The “students” dictionary becomes empty when clear() method is applied to it but it still exists.
To delete the students dictionary completely, use the “del” keyword on the dictionary
```python
del students
print(students) # error because “students” no longer exists
```
The output is:<br>
<b>NameError: name 'students' is not defined</b>

In [ ]:
# Let us create a new dictionary of “subjects” and “marks”, and list the keys in sorted order
subjects = {'Maths':67, 'English':87, 'Science':34, 'History':66}
print(subjects)
print(sorted(list(subjects)))

{'Maths': 67, 'English': 87, 'Science': 34, 'History': 66}
['English', 'History', 'Maths', 'Science']

In [ ]:
# To delete an item, use the pop() method
print(subjects.pop('English'))
print(subjects)

# To delete a random item from the dictionary, use the popitem() method
print(subjects)
print(subjects.popitem())
print(subjects)

87
{'Maths': 67, 'Science': 34, 'History': 66}
{'Maths': 67, 'Science': 34, 'History': 66}
('History', 66)
{'Maths': 67, 'Science': 34}

### Updating values in dictionaries

In [ ]:
# To update a value in the dictionary e.g. to subtract the marks of Science by 4 marks
print(subjects['Science'] - 4)
print(subjects)

# Notice the value of Science is still 34, to effect the change, we need to assign the value to Science
subjects['Science'] = subjects['Science'] - 4
print(subjects)

30
{'Maths': 67, 'Science': 34}
{'Maths': 67, 'Science': 30}

### Copying dictionaries

In [ ]:
# A dictionary can be copied to make a new dictionary using the copy() method
phone = {"brand":"Samsung", "model":"Galaxy S10", "price":900}
newPhone = phone.copy()
print(newPhone)

# Alternatively, use the built-in function dict() to make a copy of the dictionary
anotherPhone = dict(phone)
print(anotherPhone)

{'brand': 'Samsung', 'model': 'Galaxy S10', 'price': 900}
{'brand': 'Samsung', 'model': 'Galaxy S10', 'price': 900}

### Nesting dictionaries

In [ ]:
# Dictionaries can be nested. With nesting, we can insert one dictionary into another dictionary
subjectMarks = {'Maths': {'Assessment 1': {'Question 1':15}}}

# To get the value of ‘Question 1’, we have to subset like this
print(subjectMarks['Maths']['Assessment 1']['Question 1'])

15

In [ ]:
# Next, nest three dictionaries into one dictionary
employee1 = {"name":"Simon", "salary":5000}
employee2 = {"name":"Andy", "salary":3500}
employee3 = {"name":"Noah", "salary":4800}
company = {"employee1":employee1, "employee2":employee2, "employee3":employee3}
print(company, type(company))

{'employee1': {'name': 'Simon', 'salary': 5000}, 'employee2': {'name': 'Andy', 'salary': 3500}, 'employee3': {'name': 'Noah', 'salary': 4800}} <class 'dict'>

In [ ]:
# To get the value of the items in the dictionaries, we can call them in these manners
print(employee2["name"])

# "employee2" in company
print(company["employee2"])

# Name of “employee2” in company
print(company["employee2"]["name"])

# Salary of “employee2” in company
print(company["employee2"]["salary"])

Andy
{'name': 'Andy', 'salary': 3500}
Andy
3500

# 4. Strings
A string is a character sequence that is enclosed in single or double quotation marks. “Python Programming”, “Python”, “P”, ‘python’, ‘Programming’ and ‘I’ are all examples of a string. Strings are immutable objects that can be repeated, combined, or parts of them can even be extracted as substrings.

## 4.1 Displaying string

In [ ]:
# Can display a string literal with the print() function
print("Python Programming")

Python Programming

In [ ]:
# A string can also be assigned to a variable such as “title” as follows
title = 'Python Programming' # title is a string in single quotes
print(title)
title = "Python Programming" # title is a string in double quotes
print(title)

Python Programming
Python Programming

## 4.2 Escape character

**Error:**

While the use of single and double quotes to represent strings are permissible, the use of single quote may pose some confusions with apostrophes in sentences. For example, the following string has a syntax error:
```python
tvshow = 'Monty Python's Flying Circus'
```
The output is:<br>
<b>SyntaxError: invalid syntax</b>

In [ ]:
# The use of double quotes for strings removes the problem
tvshow = "Monty Python's Flying Circus"
print(tvshow)

Monty Python's Flying Circus

**Error:**

Whether it is single quote or double quotes for strings,
there will always be situations where the use of single quote or double quotes in sentences are inevitable e.g.
```python
quote = "Einstein once said: "Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.""
```
The output is:<br>
<b>SyntaxError: invalid syntax</b>

In [ ]:
# Use single quote to solve problem.
# But, a more suitable way is to include quotation marks with a backslash (commonly known as “Escape Character”) as follows
quote = "Einstein once said: \"Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.\""
print(quote)

# An escape character is a backslash “\” followed by the character you want to insert.
# The above example uses the escape character “\"”.

Einstein once said: "Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world."

## 4.3 Multi-line strings

In [ ]:
# A multi-line string can be assigned to a variable by using three quotes as follows
title = '''Python Programming:
A beginner’s guide to
Python programming '''
print(title)

Python Programming:
A beginner’s guide to
Python programming

In [ ]:
# Alternatively, you can use three double quotes for multi-line string as follows
title = """Python Programming:
A beginner’s guide to
Python programming """
print(title)

Python Programming:
A beginner’s guide to
Python programming

## 4.4 Strings are immutable

In [ ]:
# Strings are immutable i.e. they cannot be changed.
# We cannot assign an item to a character of a string
line = "This string has no blanks."
print(line)

This string has no blanks.

**Error:**

Let us assign “S” to index 5 of “line” string
```python
line[5] = 'S'
```
The output is:<br>
<b>TypeError: 'str' object does not support item assignment'</b>

## 4.5 The "%" Modulus operator

In [ ]:
"""
It is used to search in the string for elements preceded by “%” and replaces them with the value or
values contained in the list that follows it.
The “%” symbol must be followed by a character that indicates the type of data we are entering in the string.
For example, to print the contents of two strings, we use “%s” as follows
"""
title = "Python Programming"
print("The title of this book is %s." %(title), "I love it.")

The title of this book is Python Programming. I love it.

In [ ]:
"""
Some common operators include:
%d : for signed decimal integer
%u : for unsigned decimal integer
%c : for character
%s : for string
%f : for floating point real number
%g : for the shorter of %f
"""
title = "Python Programming"
print("There are %d copies of %s left." %(50, title))
print("%s is priced at S$%g." %(title, 21.56))

There are 50 copies of Python Programming left.
Python Programming is priced at S$21.56.

## 4.6 The len() and id() function

In [ ]:
# The len() function produces the length of a string
title = "Python Programming"
print(len(title))

# Every object has an id, use the id() function to verify the id of a string
print(id(title))

18
1654485159968

## 4.7 The "in" operator

In [ ]:
# To verify the presence of a substring in a string, use the “in” operator
line = "This string has no blanks."
print("blanks" in line)
print("empty" in line)

True
False

In [ ]:
# To check if a phrase is NOT present in a string, use the “not in” operator
line = "This string has no blanks."
print("blanks" not in line)
print("empty" not in line)

False
True

## 4.8 String concatenation

In [ ]:
# Strings can be combined using the concatenation operator “+”
title = "Python Programming"
author = "Dr Danny Poo"
print(title + " by " + author)

Python Programming by Dr Danny Poo

In [ ]:
# To repeat strings, use “*” operator
print(title * 2)

Python ProgrammingPython Programming

In [ ]:
# Strings can be combined with strings
sentence = "five plus three = " + "eight"
print(sentence)

five plus three = eight

**Error:**

But, strings cannot be combined with numbers
```python
sentence = "five plus three = " + 8
```
The output is:<br>
<b>TypeError: can only concatenate str (not "int") to str</b>

## 4.9 The format() method

In [ ]:
# To combine strings and numbers, use the format() method
# which takes the passed arguments, formats them, and places them in the string where the placeholders “{}” are
result = 8
sentence = "five plus three = {}"
print(sentence.format(result))

five plus three = 8

In [ ]:
# The format() method takes unlimited number of arguments, the latter are placed into the respective placeholders
number = 5
cost = 2.50
total = number * cost
purchase = "Number of pineapples = {}. Cost of each pineapple is ${}. Total is ${}."
print(purchase.format(number, cost, total))

Number of pineapples = 5. Cost of each pineapple is $2.5. Total is $12.5.

In [ ]:
# Index numbers such as {0} can be used in the format() method to ensure the arguments are placed in the correct placeholders
number = 5
cost = 2.50
total = number * cost
purchase = "Number of pineapples = {1}. Cost of each pineapple is ${0}. Total is ${2}."
print(purchase.format(cost, number, total))

Number of pineapples = 5. Cost of each pineapple is $2.5. Total is $12.5.

## 4.10 Some useful built-in methods

### format()

In [ ]:
# Formats specified values in a string
text = "Sale! ${price:.2f} only!"
print(text.format(price=33.50))

Sale! $33.50 only!

### isdigit()

In [ ]:
# Returns True if all characters in the string are digits
text = "10203" # text is a string not an integer
print(text, text.isdigit())

10203 True

### isnumeric()

In [ ]:
# Returns True if all characters in the string are numeric
text = "10203"
print(text, text.isnumeric())
text = "10203-A"
print(text, text.isnumeric())

10203 True
10203-A False

### lower()

In [ ]:
# Converts a string into lower case
lower = "I LOVE PYTHON".lower()
print(lower)

i love python

### upper()

In [ ]:
# Converts a string into upper case
text = "Good day! Char"
upper = text.upper()
print(upper)

GOOD DAY! CHAR

### replace()

In [ ]:
# Returns a string where a specified value is replaced with a specified value
line = "This string has no blanks."
print(line.replace("blanks", "empty spaces"))

This string has no empty spaces.

### strip()

In [ ]:
# Returns a trimmed version of the string
stripString = " This string has blank at start and end   "
print(stripString.strip())

This string has blank at start and end

### split()

In [ ]:
# Splits the string at the specified separator, and returns a list
line_1 = "This string has no blanks."
print(line_1.split())
line_2 = "Singapore:20, Thailand:30, Vietnam:10"
print(line_2.split(","))
print(line_2.split(",")[1].strip().split(":")) # index 1 refers to second item

['This', 'string', 'has', 'no', 'blanks.']
['Singapore:20', ' Thailand:30', ' Vietnam:10']
['Thailand', '30']

# 5. Comments
Comments are necessary in a program.
They serve as a reminder of the thought process that went into creating the programs earlier on. <BR>
They also help other fellow developers to understand the decisions made when the program was written.

In [ ]:
# A comment starts with a “#”. Python ignores all comments. For example,

# This is a comment which is ignored by Python
print("Python Programming")

Python Programming

In [ ]:
# Comments can be placed at the end of a line, and Python will ignore the rest of the line
print("Python Programming") # This is a comment, Python will ignore

Python Programming

In [ ]:
# Comments do not have to be text to explain the code, it can be used to prevent Python from executing the code

# print("Python Programming")
print("Hello World!")

Hello World!

## 5.1 Multi-line comments

In [ ]:
# Can add multi-line comments by preceding the lines with “#”

# This is a multi-line comment
# created using “#”.
# All these lines will be
# ignored by Python.
print("Hello World!")

Hello World!

In [ ]:
# Alternatively, use a multi-line string since Python ignores all string literals that are not assigned to a variable.
# A multi-line string is enclosed within three double quotes (""")

"""
This is a multi-line comment
created using multi-line string.
All these lines will be
ignored by Python.
"""
print("Hello World!")

Hello World!

<center>
  <a href="PP-01-GettingStarted.ipynb" target="_self">Getting Started</a> | <a href="./">Content Page</a> | <a href="PP-03-WritingPrograms.ipynb">Writing Programs</a>
</center>